*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}


.section__padding{
    padding: 2rem 3.5rem;
}

.section__margin{
    margin: 4rem 6rem;
}




/*for responsive fot tablet */
@media  screen and (max-width : 700px) {
    .section__padding{
        padding: 2rem 4rem;
    }
    .section__margin{
        margin: 4rem 
    }

  }
/*for responsive fot MObile */
  @media  screen and (max-width : 550px) {
    .section__padding{
        padding: 1.5rem 1.5rem;
    }
    .section__margin{
        margin: 3rem  3rem ;
    }

  }