@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --font-family: ' Inter', sans-serif;
  
      
    --color-highlight: #007F7D;
    --color-text: #81AFDD;
    --color-fill: #88D1D0;
    
  }

